### 132 데이터베이스

### 관계형데이터베이스
- SQL Alchemy
  - SQLote
  - MySQL

### NoSQL
- DBM memcach 
  - Key-value
- MonoDB 
  - Document
- Hbase, 카산드라, 구글빅데이터 등 
  - Wide Column
- Neo4j 
  - Graph

In [1]:
# 135 sqlite3

# brew install sqlite3

import sqlite3

#conn = sqlite3.connect('test_sqlite.db')
conn = sqlite3.connect(':memory:')  # memory db

curs = conn.cursor()

curs.execute('CREATE TABLE persons(id INTEGER PRIMARY KEY AUTOINCREMENT, name STRING)')
conn.commit()

curs.execute('INSERT INTO persons(name) values("Mike")')
curs.execute('INSERT INTO persons(name) values("Nancy")')
curs.execute('INSERT INTO persons(name) values("Jun")')
conn.commit()

curs.execute('UPDATE persons set name = "Michel" WHERE name = "Mike"')
conn.commit()

curs.execute('DELETE FROM persons WHERE name = "Michel"')
conn.commit()

curs.execute('SELECT * FROM persons')
print(curs.fetchall())

curs.close()
conn.close()

[(2, 'Nancy'), (3, 'Jun')]

In [3]:
# 138 mysql

# brew install mysql
# brew services start mysql
# mysql -uroot
# brew services stop mysql

import mysql.connector

# user, password 설정할 것
conn = mysql.connector.connect(host='127.0.0.1', user='root', password='')

cursor = conn.cursor()

# cursor.execute(
#     'CREATE DATABASE test_mysql_database'
# )

cursor.close()
conn.close()

In [32]:
import mysql.connector

# user, password 설정할 것
conn = mysql.connector.connect(host='127.0.0.1', user='root', password='', database='test_mysql_database')

cursor = conn.cursor()

# cursor.execute(
#     'CREATE TABLE persons('
#     'id int NOT NULL AUTO_INCREMENT,'
#     'name VARCHAR(14) NOT NULL,'
#     'PRIMARY KEY(id))'
# )

# cursor.execute('INSERT INTO persons(name) values("MIKE")')

conn.commit()

cursor.execute('SELECT * FROM persons')
for row in cursor:
    print(row)

cursor.execute('UPDATE persons set name = "Michel" where name = "MIKE"')
cursor.execute('DELETE FROM persons where name = "Michel"')
    
cursor.close()
conn.close()

(1, 'MIKE')
(2, 'MIKE')

In [33]:
# 139 SQLAlchemy ORM

# pip install sqlalchemy
# pip install pymysql # mysql 연결형

import sqlalchemy
import sqlalchemy.ext.declarative
import sqlalchemy.orm

engine = sqlalchemy.create_engine('sqlite:///:memory:', echo=True)
#engine = sqlalchemy.create_engine('sqlite:///test_sqlite')
#engine = sqlalchemy.create_engine('mysql+pymysql:///test_mysql_databases2')

Base = sqlalchemy.ext.declarative.declarative_base()

class Person(Base):
    __tablename__ = 'persons'
    id = sqlalchemy.Column(sqlalchemy.Integer, primary_key=True, autoincrement=True)
    name = sqlalchemy.Column(sqlalchemy.String(14))
    
Base.metadata.create_all(engine)


Session = sqlalchemy.orm.sessionmaker(bind=engine)
session = Session()

p1 = Person(name='Mike')
session.add(p1)
p2 = Person(name='Nancy')
session.add(p2)
p3 = Person(name='Jun')
session.add(p3)

session.commit()

# ORM 선택
p4 = session.query(Person).filter_by(name='Mike').first()
p4.name = 'Michel'
session.add(p4)
session.commit()

# ORM 삭제
p5 = session.query(Person).filter_by(name='Nancy').first()
session.delete(p5)
session.commit()

persons = session.query(Person).all()
for person in persons:
    print(person.id, person.name)

2021-08-23 12:13:36,337 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-23 12:13:36,338 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("persons")
2021-08-23 12:13:36,339 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-23 12:13:36,340 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("persons")
2021-08-23 12:13:36,341 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-23 12:13:36,344 INFO sqlalchemy.engine.Engine
CREATE TABLE persons (
	id INTEGER NOT NULL,
	name VARCHAR(14),
	PRIMARY KEY (id)
)


2021-08-23 12:13:36,345 INFO sqlalchemy.engine.Engine [no key 0.00101s] ()
2021-08-23 12:13:36,347 INFO sqlalchemy.engine.Engine COMMIT
2021-08-23 12:13:36,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-23 12:13:36,350 INFO sqlalchemy.engine.Engine INSERT INTO persons (name) VALUES (?)
2021-08-23 12:13:36,351 INFO sqlalchemy.engine.Engine [generated in 0.00061s] ('Mike',)
2021-08-23 12:13:36,352 INFO sqlalchemy.engine.Engine INSERT INTO persons (name) VALUES (?)
2021-08-23 12:13:36,352 INFO sqlalchemy.engine.Engine [cached since 0.001718s ago] ('Nancy',)
2021-08-23 12:13:36,353 INFO sqlalchemy.engine.Engine INSERT INTO persons (name) VALUES (?)
2021-08-23 12:13:36,353 INFO sqlalchemy.engine.Engine [cached since 0.003002s ago] ('Jun',)
2021-08-23 12:13:36,355 INFO sqlalchemy.engine.Engine COMMIT
2021-08-23 12:13:36,356 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-23 12:13:36,357 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name
FROM persons
WHERE persons.name = ?
 LIMIT ? OFFSET ?
2021-08-23 12:13:36,358 INFO sqlalchemy.engine.Engine [generated in 0.00049s] ('Mike', 1, 0)
2021-08-23 12:13:36,359 INFO sqlalchemy.engine.Engine UPDATE persons SET name=? WHERE persons.id = ?
2021-08-23 12:13:36,360 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ('Michel', 1)
2021-08-23 12:13:36,360 INFO sqlalchemy.engine.Engine COMMIT
2021-08-23 12:13:36,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-23 12:13:36,362 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name
FROM persons
WHERE persons.name = ?
 LIMIT ? OFFSET ?
2021-08-23 12:13:36,363 INFO sqlalchemy.engine.Engine [cached since 0.005395s ago] ('Nancy', 1, 0)
2021-08-23 12:13:36,364 INFO sqlalchemy.engine.Engine DELETE FROM persons WHERE persons.id = ?
2021-08-23 12:13:36,365 INFO sqlalchemy.engine.Engine [generated in 0.00066s] (2,)
2021-08-23 12:13:36,366 INFO sqlalchemy.engine.Engine COMMIT
2021-08-23 12:13:36,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-23 12:13:36,369 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name
FROM persons
2021-08-23 12:13:36,369 INFO sqlalchemy.engine.Engine [generated in 0.00053s] ()
1 Michel
3 Jun

In [37]:
# 140 DBM

import dbm

# with dbm.open('cache', 'c')as db:  # cache.db 파일 생성
#     db['key1'] = 'value1'
#     db['key2'] = 'value2' # byte, string만 작성 가능함

with dbm.open('cache', 'r') as db:
    print(db.get('key1'))

b'value1'

In [46]:
# 141 memcached

# brew install memcached
# memcached -vv (기동)
# brew services start memcached

# pip install python-memcached

import time

import memcache

db = memcache.Client(['127.0.0.1:11211', ])

db.set('web_page', 'value1', time=1) # 1초 후 사라짐

# print(db.get('web_page'))
# time.sleep(2)
# print(db.get('web_page'))

db.set('counter', 0)
db.incr('counter', 1)
db.incr('counter', 1)
db.incr('counter', 1)
db.incr('counter', 1)
db.incr('counter', 1)
print(db.get('counter'))

value1
None
5